<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Új családtagok </title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:insert="~{shared/navBar :: navbar}"></div>

    <div class="container">
        <div class="card">
            <div class="card-header"> Családtag hozzáadása </div>
            <div class="card-body">
                <form th:action="@{/family_members/create}" method="post" >
                    <div class="mb-3 row">
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault01">Vezetéknév</label>
                            <input type="text" name="first_name" class="form-control" id="validationDefault01" required>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault02">Keresztnév</label>
                            <input type="text" name="last_name" class="form-control" id="validationDefault02" required>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault03">Születési dátum</label>
                            <input type="date" name="birth_date" class="form-control" id="validationDefault03" required>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault04">Születési hely</label>
                            <input type="text" name="birth_place" class="form-control" id="validationDefault04" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault04">Halál dátum</label>
                            <input type="date" name="death_date" class="form-control" id="validationDefault05">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault06">Lakik</label>
                            <input type="text" name="city" class="form-control" id="validationDefault06">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="validationDefault08">Kép kiválasztása</label>
                            <input type="file" name="member_image" class="form-control" id="validationDefault08">
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="validationDefault09">Neme</label>
                            <select id="validationDefault09" name="gender" class="form-select" type="text">
                                <option selected>Férfi</option>
                                <option>Nő</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Új családtag rögzítése</button>
                </form>
            </div>
        </div>
    </div>



</div>


</body>
</html>